.info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2vh;
  margin-top: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); */
}

.main__product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main__comment {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__services {
  margin-top: 50px;
  display: flex;
  width: 100%;
}

.main__comment {
  margin-top: 50px;
}
