.home {
  width: 100%;
  margin-bottom: 30px;
}
.home-section {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
/* .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
} */

.home__row {
  align-items: center;
}

.banner-discount {
  width: 260px;
  height: 200px;
  margin: 0 15px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .banner-discount{
    width: 100%;
  }
}