.location-bar{
    display: flex;
    width: 100%;
    background-color: #fff;
    height: 50px;
}

.location-bar-list{
    display: flex;
    align-items: center;
    list-style: none;

}

.location-bar-item{
    padding: 0 4px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.location-bar-item:first-child{
    color: #eb0028;
    font-weight:600;
}