.tags-bar {
  height: 60px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
}
.tag__bar-item {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  width: 180px;
  height: 30px;
  justify-content: center;
  color: #333;
  margin: 4px;
}

.tag__bar-item:hover {
  border: 1px solid #eb0028;
  cursor: pointer;
}

.tag__bar-icon {
  color: #333;
}

.tag__bar-item:hover .tag__bar-icon {
  color: #eb0028;
}
