.tags-bar {
  height: 60px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.tag__bar-item {
  display: flex;
  align-items: center;
  border: 1px solid #eb0028;
  border-radius: 24px;
  width: 200px;
  height: 30px;
  justify-content: center;
}

.tag__bar-item:hover {
  background-color: #eb0028;
  color: #fff;
  cursor: pointer;
}

.tag__bar-icon {
  color: #eb0028;
}


.tag__bar-item:hover .tag__bar-icon{
  color: #fff;
}