table {
  width: 100%;
  min-width: 400px;
  border-spacing: 0;
}

thead {
  height: 40px;
  background-color: #f1f1f1;
}

tr {
  height: 40px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.table__image {
  width: 100px;
  height: 100px;
}
