* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Open Sans", arial, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 12px 0;
}

.link {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.link__btn {
  color: #eb0028;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.link:hover {
  color: #eb0028;
}

.link__btn:hover {
  color: #fff;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: transparent;
  color: #eb0028;
  outline: none;
  border: 1px solid #eb0028;
  min-width: 150px;
  /* padding: 0 12px; */
  height: 30px;
  margin: 10px auto;
  box-shadow: inset 0 0 0 0 #eb0028;
  -webkit-transition: ease-out 0.8s;
  -moz-transition: ease-out 0.8s;
  transition: ease-out 0.8s;
}

.btn:hover {
  background-color: #eb0028;
  color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: inset 400px 50px 0 0 #eb0028;
}

.title__tag {
  height: 30px;
  width: 250px;
  background-image: linear-gradient(to right, #b11224, #eb0028);
  color: #fff;
  font-family: monospace;
  font-size: 1rem;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .btn {
    width: 80%;
    height: 40px;
  }
}
