* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link{
  color: #333;
  text-decoration:none;
  cursor: pointer;
}

.link__btn{
  color:#eb0028;
  text-decoration:none;
  display:flex;
  width: 100%;
  height:100%;
  justify-content: center;
  align-items: center;
}

.link:hover{
  color: #eb0028;
}

.link__btn:hover{
  color: #fff;
  cursor: pointer;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: transparent;
  color: #eb0028;
  outline: none;
  border: 1px solid #eb0028;
  min-width: 150px;
  /* padding: 0 12px; */
  height: 30px;
  margin: 10px auto;
  
}

.btn:hover {
  background-color: #eb0028;
  color: #fff;
  border: none;
  cursor: pointer;
}


@media screen  and (max-width:960px) {
  .btn{
    width: 80%;
    height: 40px;
  }
}
