.product-details {
  width: 100%;
  margin-bottom: 30px;
}

.product-details-section {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

/* .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.product-details__row {
  align-items: center;
}

/* Head content */
.product-details-left-info,
.product-details-right-info {
  width: 600px;
  display: block;
}
.product-details-image {
  display: flex;
  width: 100%;
}

.product-details-image__left {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.product-details-image__right-item {
  position: relative;
  width: 100%;
  height: 300px;
}

.product-details-image__left-item {
  width: 80px;
  height: 80px;
  padding: 8px;
  margin-bottom: 4px;
}

.product-details-image__left-item:hover {
  border: 1px solid #eb0028;
  cursor: pointer;
}

.product-details-image__active {
  border: 1px solid #eb0028;
}

.product-details__btn {
  display: flex;
  width: 70%;
}

.product-details-choose,
.product-details-choose__item,
.product-details-quantity {
  display: flex;
}

.product-details-name {
  color: #333;
}

.product-details-price {
  color: #eb0028;
  padding: 8px 0;
}

.product-details-description {
  width: 80%;
  color: #333;
  text-align: justify;
  padding-bottom: 8px;
}

.product-details-choose__item {
  font-size: 1.2rem;
  padding-right: 12px;
  padding-bottom: 8px;
  align-items: center;
}

.product-details-choose__item-select {
  width: 100px;
  height: 30px;
}

.product-details-text__bold {
  font-weight: 600;
}
.product-details-text__green {
  color: #eb0028;
  font-weight: 600;
}

.product-details-quantity {
  display: flex;
  align-items: center;
}
.product-details-quantity-input {
  width: 50px;
  height: 30px;
  text-align: center;
}

p {
  text-align: justify;
  margin: 4px 0;
}

/* Content */

.product-details-posts {
  width: 65%;
  display: flex;
  flex-direction: column;
  color: #333;
  padding-right: 24px;
}

.product-details-specifications {
  padding: 12px;
  width: 35%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.product-details-specifications-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
}
.product-details-specifications-image__img {
  width: 200px;
  height: 180px;
}

.product-details-push-right {
  position: absolute;
  top: 285px;
  left: 616px;
  font-size: 3rem;
  color: rgba(150, 150, 150, 0.8);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.product-details-push-left {
  position: absolute;
  top: 285px;
  left: 140px;
  font-size: 3rem;
  color: rgba(150, 150, 150, 0.8);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.product-details__btn-item {
  height:50px;
  width:200px;
  padding: 10px 0;
}


@media screen and (max-width: 960px) {
  .product-details__btn-item {
    margin: 0 8px;
  }

  .product-details-push-left,
  .product-details-push-right {
    display: none;
  }
  .product-details-posts,
  .product-details-specifications {
    width: 100%;
  }
  .product-details-left-info,
  .product-details-right-info {
    width: 100%;
  }
  .product-details-right-info {
    padding: 0 12px;
  }
}
